[submodule "submodules/dissertation-plan"]
	path = submodules/dissertation-plan
	url = git@github.com:chendaniely/dissertation-plan.git
[submodule "submodules/dissertation-irb"]
	path = submodules/dissertation-irb
	url = git@github.com:chendaniely/dissertation-irb.git
[submodule "submodules/dissertation-analysis"]
	path = submodules/dissertation-analysis
	url = git@github.com:chendaniely/dissertation-analysis.git
[submodule "submodules/dissertation-presentations"]
	path = submodules/dissertation-presentations
	url = git@github.com:chendaniely/dissertation-presentations.git
[submodule "submodules/dissertation-prelim"]
	path = submodules/dissertation-prelim
	url = git@github.com:chendaniely/dissertation-prelim.git
[submodule "submodules/dissertation-edt"]
	path = submodules/dissertation-edt
	url = git@github.com:chendaniely/dissertation-edt.git
[submodule "submodules/dissertation-phase4_exercises"]
	path = submodules/dissertation-phase4_exercises
	url = git@github.com:chendaniely/dissertation-phase4_exercises.git
[submodule "submodules/dissertation-fun"]
	path = submodules/dissertation-fun
	url = git@github.com:chendaniely/dissertation-fun.git
